{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script>
(function () {
    const theme = localStorage.getItem('theme');

    if (theme === 'dark') {
        document.documentElement.classList.add('dark');
    }
})();
</script>
</head>

<body class="bg-gray-100 dark:bg-neutral-900 text-gray-900 dark:text-gray-100 min-h-screen transition-colors duration-300">    <!-- Navbar -->
<nav class="relative z-50 sticky top-0 relative flex justify-between items-center p-6 bg-white dark:bg-neutral-800 shadow-md transition-colors duration-300">        <h1 class="text-xl font-bold">Khalil.dev</h1>
<!-- Mobile Menu Button -->
    <button id="menu-toggle" class="md:hidden text-2xl">
        ☰
    </button>
        <div id="nav-links" class="hidden md:flex flex-col md:flex-row md:items-center space-y-4 md:space-y-0 md:space-x-6 absolute md:static top-20 left-0 w-full md:w-auto bg-white dark:bg-neutral-800 p-6 md:p-0 shadow-md md:shadow-none transition-all duration-300">
        <a href="/#About" data-section="About" class="nav-link relative hover:text-emerald-400 transition">Home</a>
        <a href="{% url 'projects_list' %}" data-section="Projects" class="nav-link relative hover:text-emerald-400 transition">Projects</a>
        <a href="/#Skills" data-section="Skills" class="nav-link relative hover:text-emerald-400 transition">Skills</a>
        <a href="/#Contact" data-section="Contact" class="nav-link relative hover:text-emerald-400 transition">Contact</a>
            <button id="theme-toggle"
            class="theme-toggle gap-2 bg-gray-200 dark:bg-gray-700 px-3 py-1 rounded-lg hover:scale-105 transition">

            <!-- Moon Icon -->
            <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 block dark:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 12.79A9 9 0 1111.21 3c0 .34.02.67.05 1A7 7 0 0021 12.79z"/>
            </svg>

            <!-- Sun Icon -->
            <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden dark:block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 3v1m0 16v1m8.66-10H21m-16 0H3m15.36 6.36l-.7-.7M6.34 6.34l-.7-.7m12.02 0l-.7.7M6.34 17.66l-.7.7M12 8a4 4 0 100 8 4 4 0 000-8z"/>
            </svg>

            </button>
        </div>
        <div id="mobile-menu"
     class="hidden flex flex-col items-center gap-6 
            bg-white dark:bg-neutral-800 
            absolute top-full right-0
            w-52 py-6  shadow-lg 
            transition-all duration-300">

        <a href="/#About" class="hover:text-emerald-400 transition">Home</a>
        <a href="{% url 'projects_list' %}" class="hover:text-emerald-400 transition">Projects</a>
        <a href="/#Skills" class="hover:text-emerald-400 transition">Skills</a>
        <a href="/#Contact" class="hover:text-emerald-400 transition">Contact</a>
        <button id="theme-toggle"  
            class="theme-toggle relative z-50  gap-2 bg-gray-200 dark:bg-gray-700 px-3 py-1 rounded-lg hover:scale-105 transition">

            <!-- Moon Icon -->
            <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 block dark:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 12.79A9 9 0 1111.21 3c0 .34.02.67.05 1A7 7 0 0021 12.79z"/>
            </svg>

            <!-- Sun Icon -->
            <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden dark:block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 3v1m0 16v1m8.66-10H21m-16 0H3m15.36 6.36l-.7-.7M6.34 6.34l-.7-.7m12.02 0l-.7.7M6.34 17.66l-.7.7M12 8a4 4 0 100 8 4 4 0 000-8z"/>
            </svg>

            </button>
        </div>

    </div>
    </nav>

    <!-- Content -->
    <main class="p-8">
        {% block content %}
        {% endblock %}
    </main>
<script>
document.addEventListener("DOMContentLoaded", function () {

    // Apply saved theme
    if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
    } else {
        document.documentElement.classList.remove("dark");
    }
// get all the clicks and see if it's the 
//theme toggle button then apply the changes ( even delegation )
   
    document.addEventListener("click", function (e) {
        const btn = e.target.closest("#theme-toggle");

        if (!btn) return; // click wasn't on the button

        document.documentElement.classList.toggle("dark");

        if (document.documentElement.classList.contains("dark")) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
    });

});
document.addEventListener("DOMContentLoaded", function () {

const text = [
    "> Web Security & OWASP...",
    "> Backend Development...",
    "> Network Analysis & Scanning...",
    "> Building secure systems..."
];

    let line = 0;
    let char = 0;
    const speed = 30;

    function type() {
        if (line < text.length) {
            if (char < text[line].length) {
                document.getElementById("terminal-text").innerHTML += text[line].charAt(char);
                char++;
                setTimeout(type, speed);
            } else {
                document.getElementById("terminal-text").innerHTML += "<br>";
                line++;
                char = 0;
                setTimeout(type, 300);
            }
        }
    }

    type();
});

</script>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const sections = document.querySelectorAll("section[id]");
    const navLinks = document.querySelectorAll(".nav-link");

    function activateLink() {
        let current = "";

        const path = window.location.pathname;

        if (path.includes("projects")) {
            current = "Projects";
        }

        sections.forEach(section => {
            const rect = section.getBoundingClientRect();

            if (rect.top <= window.innerHeight / 2 && rect.bottom >= window.innerHeight / 2) {
                current = section.getAttribute("id");
            }
        });

        navLinks.forEach(link => {
            link.classList.remove("text-emerald-500", "font-semibold");

            if (link.dataset.section === current) {
                link.classList.add("text-emerald-500", "font-semibold");
            }
        });
    }

    activateLink();
    window.addEventListener("scroll", activateLink);

});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {

    if (!window.location.pathname.includes("projects")) return;

    const params = new URLSearchParams(window.location.search);
    const activeTag = params.get("tag");

    if (!activeTag) return;

    document.querySelectorAll(".tag").forEach(tag => {
        if (tag.dataset.tag === activeTag) {
            tag.classList.add("bg-black", "text-white");
        }
    });

});



</script>
<script>
document.getElementById("menu-toggle").addEventListener("click", function () {
    const menu = document.getElementById("mobile-menu");
    menu.classList.toggle("hidden");
});

// the menu get's closed automatically when the screen goes larg again
const menu = document.getElementById("mobile-menu");

window.addEventListener("resize", () => {
    if (window.innerWidth >= 768) { // md breakpoint
        menu.classList.add("hidden");
    }
});
</script>

</body>
</html>